<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS Chapter 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <div class="container">
        <section id="interpolation" class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Interpolation</h2>
            <p> Tên : {{ User }} </p>
            <p> Tuổi : {{ Age }} </p>
        </section>
        <section id="bind-attribute" class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2 v-bind:class="className">Bind Attribute</h2>
            <img v-bind:src="image" alt="" class="img-thumbnail" >
            <a v-bind:href="linkInfo" v-bind:class="btnInfo">Xem chi tiết</a>
        </section>
        <section id="methods" class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Method</h2>
            <hr>
            <p>Tài hay xĩu : {{option}} =   {{sum3Number}} </p>
            <button :class="className" @click="renderTaiXiu()">Chơi</button>
        </section>
        <section id="raw-html" class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Raw Html</h2>
            <hr>
            <div v-html="mgs">

            </div>
        </section>
        <section id="event" class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Event VueJS</h2>
            <hr>
            <p>Count : {{ count }}</p>
            <p>Name : {{name}}</p>
            <button v-bind:class="className" v-on:click="handleClickHere">Click here</button>
            <button  :class="classCount" v-on:click="handleIncrement(2, $event)">Increment</button>
            <button  :class="classCount" v-on:click="count++">Tăng 1</button>
            <button  :class="classCount" v-on:click="handleSetName('Đặng  Văn Phúc')">SetName</button>
            <form @submit.prevent="handleSubmit">
                <button :class="className" type="submit">Submit</button>
            </form>
            <div class="form-login">
                <h2 class="text-center">Form Đăng Nhập</h2>
                <div class="form-group">
                    <label for="">
                        Tài khoản
                    </label>
                    <input type="text" class="form-control" @keyup.enter="handleEnter">
                </div>
                <div class="form-group">
                    <label for="">
                        password
                    </label>
                    <input type="text" class="form-control" @keyup.enter="handleEnter">
                </div>
            </div>
        </section>
        <section id="two-way-binding"class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Two way binding</h2>
            <div class="">
                <h4 :class="className">Cách 1 dùng sự kiện @input</h4>
                <input type="text" @input="handleInput">
                <p>Message is :  {{msg}} </p>
            </div>
            <hr>
            <div class="">
                <h4 :class="className">Cách 2 dùng v-model</h4>
                <input type="text" v-model="message">
                <p>Message of option 2 is :  {{message}} </p>
            </div>
        </section>

        <section id="computed-and-watcher"class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Computed-and-watcher</h2>
            <p>Count = {{count}} </p>
            <button :class="className" @click="handleIncrement">Increment</button>
            <div class="form-group">
                <label for="">Lastname</label>
                <input type="text" class="form-control" v-model="lastName">
            </div>
            <div class="form-group">
                <label for="">firstName</label>
                <input type="text" class="form-control" v-model="firstName">
            </div>
            <p class="alert alert-success">  Computed Họ và Tên :  {{getFullName}} </p>
            <p class="alert alert-success">  Watch Họ và Tên :  {{FullName}} </p>

        </section>

        <section id="styling"class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Styling</h2>
            <hr>
            <ol>
                <li class="text-center">
                    <h3>Binding via style</h3>
                    <p :style="[styleForP, styleText]"> 
                        My content
                    </p>
                    <button :class="ClassName" @click="handleFormat">Format</button>
                </li>
                <hr style="background-color: white; height: 10px;">
                <li>
                    <h3>Binding via class</h3>
                    <div class="app-circle" :class="{'app-circle--red': isActive}"></div>
                    <button :class="ClassName" @click="handleFormatColor()">Format color</button>
                </li>
            </ol>
        </section>
        <section id="directive"class="bg-dark p-3 rounded text-center text-white mb-3">
            <h2>Directive</h2>
            <div>
                <p v-if="isLogin" class="alert alert-success">Chào mừng Đặng Văn Phúc</p>
                <button v-else class="btn btn-info w-100" @click="handleLogin">Login</button>
            </div>
            <div class="">
                <h3>
                    Chuyển đổi(Toggle)
                </h3>
                <div class="alert alert-danger">
                    <p v-if="toggle">Giao diện GUI</p>
                    <p v-else>Dòng lệnh</p>
                </div>
                <button :class="className" @click="handleToggle">Chuyển đổi giao diện</button>
            </div>
            <div>
                <h3 class="mx-3">Chọn tướng</h3>
                <img v-if="nameHero === 'zed'" :src="UrlHero.zed" alt="zed" class="img-thumbnail mb-3">
                <img v-else-if="nameHero === 'leeSin'" :src="UrlHero.leeSin" alt="leeSin" class="img-thumbnail mb-3">
                <img v-else-if="nameHero === 'niDaLee'" :src="UrlHero.niDaLee" alt="niDaLee" class="img-thumbnail mb-3">
                <p v-else class="alert alert-success">Xin Hãy Chọn Tướng</p>
                <button class="btn btn-primary " @click="handleChoose('zed')">zed</button>
                <button class="btn btn-primary " @click="handleChoose('leeSin')" style="margin: 0 20px;">LeeSin</button>
                <button class="btn btn-primary " @click="handleChoose('niDaLee')">NiDaLee</button>

                <p v-show="true">V-show nếu false thì element nó sẻ còn trong dom còn v-if nếu true thì phần tử nó sẻ xó khỏi dom lun
                    <br>
                    The difference is that an element with v-show will always be rendered and remain in the DOM; v-show only toggles the display CSS property of the element.
                </p>
            </div>
            <div class="mt-3">
                <h3>Danh sách nhóm nhạc dùng v-for để render ra</h3>
                <ul>
                    <li v-for="(each,index) in blackpink" class="d-flex justify-content-between align-items-center my-3" :key="index">
                        <p> {{index + 1}} </p>
                        <img :src="each.image" alt="Lisa" class="img-thumbnail w-50" > 
                        <h4> {{each.name}} </h4>
                    </li>
                </ul>
            </div>

        </section>
    </div>
    <hr>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>


  </body>
</html>
